
.icon-experiment:before { content: '\e805'; } /* '' */
.icon-sample:before { content: '\e806'; } /* '' */
.icon-area:before { content: '\e807'; } /* '' */
.icon-line:before { content: '\e808'; } /* '' */
.icon-dashed:before { content: '\e809'; } /* '' */