<Installer>
  <Name>easyDiffraction</Name>
  <Version>0.3.4</Version>
  <Title>easyDiffraction Installer</Title>
  <Publisher>easyDiffraction</Publisher>
  <ProductUrl>http://easyDiffraction.github.io</ProductUrl>
  <StartMenuDir>easyDiffraction</StartMenuDir>
  <TargetDir>@ApplicationsDir@/easyDiffraction</TargetDir>
  <MaintenanceToolName>easyDiffractionUninstaller</MaintenanceToolName>
  <ControlScript>controlscript.js</ControlScript>
  <InstallActionColumnVisible>false</InstallActionColumnVisible>
  <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
